on:
  pull_request:
    branches:
    - main
    types: [closed]

name: '[autorelease] Create release'

permissions:
  contents: read

jobs:
  can-run:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'autorelease')
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit
      - run: echo 'Running create release!'
  # Python
  build-compiled-python:
    runs-on: ${{ matrix.platform.runner }}
    needs: can-run
    defaults:
      run:
        working-directory: bindings/python
        shell: bash
    permissions:
      id-token: write
    strategy:
      matrix:
        platform:
          - runner: ubuntu-latest
            cargo-target: x86_64
            python-target: x64
            manylinux: auto
            name: linux
          - runner: ubuntu-latest
            cargo-target: x86
            python-target: x64
            manylinux: auto
            name: linux
          - runner: ubuntu-latest
            cargo-target: aarch64
            python-target: x64
            manylinux: auto
            name: linux
          - runner: ubuntu-latest
            cargo-target: armv7
            python-target: x64
            manylinux: auto
            name: linux
          - runner: ubuntu-latest
            cargo-target: s390x
            python-target: x64
            manylinux: auto
            name: linux
          - runner: ubuntu-latest
            cargo-target: ppc64le
            python-target: x64
            manylinux: auto
            name: linux
          - runner: ubuntu-latest
            cargo-target: x86_64
            python-target: x64
            manylinux: musllinux_1_2
            name: musllinux
          - runner: ubuntu-latest
            cargo-target: x86
            python-target: x64
            manylinux: musllinux_1_2
            name: musllinux
          - runner: ubuntu-latest
            cargo-target: aarch64
            python-target: x64
            manylinux: musllinux_1_2
            name: musllinux
          - runner: ubuntu-latest
            cargo-target: armv7
            python-target: x64
            manylinux: musllinux_1_2
            name: musllinux
          - runner: windows-latest
            cargo-target: x64
            python-target: x64
            manylinux: auto
            name: windows
          - runner: windows-latest
            cargo-target: x86
            python-target: x86
            manylinux: auto
            name: windows
          - runner: macos-14
            cargo-target: aarch64
            python-target: arm64
            manylinux: auto
            name: macos
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # 6.2.0
        with:
          python-version: "3"
          architecture: ${{ matrix.platform.python-target }}
      - name: Build wheels
        uses: PyO3/maturin-action@b1bd829e37fef14c63f19162034228a2f3dc1021 # v1.50.0
        with:
          target: ${{ matrix.platform.cargo-target }}
          args: --release --out wheels-${{ matrix.platform.name }}-${{ matrix.platform.cargo-target }} --find-interpreter
          sccache: 'true'
          manylinux: ${{ matrix.platform.manylinux }}
          working-directory: bindings/python
      - name: Fix permissions
        if: ${{ matrix.platform.runner == 'ubuntu-latest' }}
        run: sudo chown --recursive $(id -u):$(id -g) wheels-* && sudo chmod --recursive u+rw wheels-*
      - name: Sign the dists with Sigstore
        uses: sigstore/gh-action-sigstore-python@a5caf349bc536fbef3668a10ed7f5cd309a4b53d # v3.2.0
        with:
          inputs: |
            bindings/python/wheels-*/*.whl
      - name: Upload wheels
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: wheels-${{ matrix.platform.name }}-${{ matrix.platform.cargo-target }}
          path: bindings/python/wheels-${{ matrix.platform.name }}-${{ matrix.platform.cargo-target }}

  build-source-python:
    runs-on: ubuntu-latest
    needs: can-run
    defaults:
      run:
        shell: bash
    permissions:
      id-token: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3"
      - name: Prepare Python sdist
        run: 'python scripts/prepare_python_sdist.py $GITHUB_SHA'
      - name: Build sdist
        uses: PyO3/maturin-action@b1bd829e37fef14c63f19162034228a2f3dc1021 # v1.50.0
        with:
          command: sdist
          args: --out wheels-source
          working-directory: bindings/python
      - name: Sign the dists with Sigstore
        uses: sigstore/gh-action-sigstore-python@a5caf349bc536fbef3668a10ed7f5cd309a4b53d # v3.2.0
        with:
          inputs: |
            bindings/python/wheels-*/*.tar.gz
      - name: Upload sdist
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: wheels-sdist
          path: bindings/python/wheels-source

  # C: TODO
  # C++: TODO

  github-release:
    needs: [build-compiled-python, build-source-python]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set git config to submitter.
        run: |
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR_ID}+${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Get release version
        id: get-release-version
        env:
          PULL_REQUEST_HEAD_REF: ${{ github.event.pull_request.head.ref }}
        run: |
          # Head branch should be named autorelease/<version>
          if ! [[ "${PULL_REQUEST_HEAD_REF}" =~ ^autorelease\/[A-Za-z0-9.+-]+$ ]]; then
            echo "Invalid branch"
            exit 1
          fi
          VERSION=$(echo "${PULL_REQUEST_HEAD_REF}" | awk -F/ '{print $2}')
          echo "VERSION=$VERSION"
          echo "name=release-version::$VERSION" >> $GITHUB_OUTPUT

      - name: Get release notes
        id: query-release-info
        uses: release-flow/keep-a-changelog-action@74931dec7ecdbfc8e38ac9ae7e8dd84c08db2f32 # v3.0.0
        with:
          command: query
          version: latest

      - name: Display release notes
        run: |
          echo "${{ steps.query-release-info.outputs.release-notes }}"

      - name: Write release notes
        run: |
          echo "${{ steps.query-release-info.outputs.release-notes }}" > release.log

      - name: Display release version
        run: |
          echo "GIT=${{ steps.get-release-version.outputs.release-version }}"
          echo "CHANGELOG=${{ steps.query-release-info.outputs.version }}"

      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      - name: 'Setup Python'
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3'
      - name: Create Python Archive
        run: 'python scripts/create_release_package.py'

      - name: Create Tag
        run: |
          next_version=v${{ steps.query-release-info.outputs.version }}
          git tag -a '${next_version}' -m 'Preparing release: ${next_version}'
          git push --follow-tags
      - name: Create GitHub Release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: >-
          gh release create
          'v${{ steps.query-release-info.outputs.version }}'
          --repo '${{ github.repository }}'
          --title 'Release ${{ steps.query-release-info.outputs.version }}'
          --notes-file release.log
      - name: Upload artifact signatures to GitHub Release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        # Upload to GitHub Release using the `gh` CLI.
        # `dist/` contains the built packages, and the
        # sigstore-produced signatures and certificates.
        run: >-
          gh release upload
          'v${{ steps.query-release-info.outputs.version }}' python-wheels.tar.gz
          --repo '${{ github.repository }}'

  python-pypi-release:
    needs: github-release
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'autorelease')
    environment: release
    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      - name: Publish to PyPI
        uses: PyO3/maturin-action@b1bd829e37fef14c63f19162034228a2f3dc1021 # v1.50.0
        with:
          command: upload
          args: --non-interactive --skip-existing wheels-*/*.whl wheels-*/*.tar.gz

  rust-crates-release:
    needs: github-release
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'autorelease')
    environment: release
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: dtolnay/rust-toolchain@4305c38b25d97ef35a8ad1f985ccf2d2242004f2 # stable
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          shared-key: release-${{runner.os}}
      - name: Publish to Crates.io
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: cargo publish
