on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      release-version:
        description: 'Release version'
        type: string
        required: true


name: '[autorelease] Release published'

jobs:
  update-ref:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Get release version
      id: get-release-version
      run: |
        VERSION="${{ github.event.release.tag_name }}"
        if [[ ! $VERSION ]]; then
          VERSION="${{ github.event.inputs.release-version }}"
        fi

        RE='^[vV]?([0-9]+)[.]([0-9]+)[.]([0-9]+)(-[0-9A-Za-z.+-]*)?'
        if [[ $VERSION =~ $RE ]]; then
          MAJOR="${BASH_REMATCH[1]}"
          MINOR="${BASH_REMATCH[2]}"
          PATCH="${BASH_REMATCH[3]}"
          PRERELEASE="${BASH_REMATCH[4]}"
        else
          echo "::error::Version '$VERSION' is not in a valid format" && exit 1
        fi

        echo "name=semver-tag::$VERSION" >> $GITHUB_OUTPUT
        echo "name=major-ref::v$MAJOR" >> $GITHUB_OUTPUT
        if [[ "$PRERELEASE" ]]; then pre=true; else pre=false; fi
        echo "name=is-prerelease::$pre" >> $GITHUB_OUTPUT

    - name: Prerelease
      if: fromJSON(steps.get-release-version.outputs.is-prerelease)
      run: |
        echo "::notice::Pre-release version detected, not moving ref  ${{ steps.get-release-version.outputs.major-ref }}"

    - name: Update release tag
      if: ${{ ! fromJSON(steps.get-release-version.outputs.is-prerelease) }}
      run: |
        git config user.name "${GITHUB_ACTOR}"
        git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

        git tag -fa ${{ steps.get-release-version.outputs.major-ref }} -m "Update ${{ steps.get-release-version.outputs.major-ref }} tag"
        git push origin ${{ steps.get-release-version.outputs.major-ref }} --force
        echo "::notice::Updated ref ${{ steps.get-release-version.outputs.major-ref }}"

    # TODO: Deploy Rust crate to crates.io
    # TODO: Deploy Python wheel to pypi.org
