name: Python Test Suite

on:
  push:
    branches: ["main"]
    paths:
      - .github/workflows/*_python.yml
      - bindings/python/**
      - src/**
      - Cargo.lock
      - Cargo.toml
      - deny.toml
      - .gitmodules
  pull_request:
    paths:
      - .github/workflows/*_python.yml
      - bindings/python/**
      - src/**
      - Cargo.lock
      - Cargo.toml
      - deny.toml
      - .gitmodules

permissions:
  contents: read

jobs:
  test:
    name: Python test
    defaults:
      run:
        working-directory: bindings/python
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        python-version:
          - version: "3.9"
            freethreaded: false
          - version: "3.10"
            freethreaded: false
          - version: "3.11"
            freethreaded: false
          - version: "3.12"
            freethreaded: false
          - version: "3.13"
            freethreaded: false
          - version: "3.13"
            freethreaded: true
          - version: "3" # Latest version
            freethreaded: false
          - version: "3" # Latest version
            freethreaded: true
    runs-on: ${{matrix.os}}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@4305c38b25d97ef35a8ad1f985ccf2d2242004f2 # stable
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          shared-key: lang-python-${{runner.os}}
      - name: Run Cargo Clippy
        run: cargo clippy
      - name: Run Cargo Fmt
        run: cargo fmt --check
      - name: Run Cargo Deny
        uses: EmbarkStudios/cargo-deny-action@3fd3802e88374d3fe9159b834c7714ec57d6c979 # v2.0.15
        if: ${{ matrix.os == 'ubuntu-latest' }}
      - name: Setup Python ${{matrix.python-version.version}} freethreaded=${{matrix.python-version.freethreaded}}
        id: setup-python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{matrix.python-version.version}}
          freethreaded: ${{matrix.python-version.freethreaded}}
          cache: 'pip'
      - name: Install dependencies
        run: python -m pip install .[test,docs]
      - name: Lint with Ruff
        run: |
          python -m ruff check --output-format=github .
      - name: Format with Ruff
        run: |
          python -m ruff format --check .
      - name: Build Rust
        uses: PyO3/maturin-action@b1bd829e37fef14c63f19162034228a2f3dc1021 # v1.50.0
        with:
          sccache: 'true'
          manylinux: auto
          working-directory: bindings/python
      - name: Prepare tests
        run: |
          python -m pip install openchecks --find-links target/wheels
      - name: Run tests
        run: |
          python -m pytest --hypothesis-profile default -n=auto tests/
      - name: Run examples
        run: |
          python examples/async_auto_fix.py
          python examples/async_check.py
          python examples/auto_fix.py
          python examples/check.py
      - name: Run doc tests
        run: |
          python -m sphinx -b=doctest docs/source docs/build
