name: Python Test Suite

on:
  push:
    branches: ["main"]
    paths:
      - .github/workflows/*_python.yml
      - bindings/python/**
      - src/**
      - Cargo.lock
      - Cargo.toml
      - deny.toml
      - .gitmodules
  pull_request:
    paths:
      - .github/workflows/*_python.yml
      - bindings/python/**
      - src/**
      - Cargo.lock
      - Cargo.toml
      - deny.toml
      - .gitmodules

permissions:
  contents: read

jobs:
  test:
    name: Python test
    defaults:
      run:
        working-directory: bindings/python
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3" # Latest version
        exclude:
          # Skip Python 3.7 on macos-latest due to no support.
          - os: macos-latest
            python-version: "3.7"
    runs-on: ${{matrix.os}}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@d0592fe69e35bc8f12e3dbaf9ad2694d976cb8e3 # stable
      - uses: Swatinem/rust-cache@82a92a6e8fbeee089604da2575dc567ae9ddeaab # v2.7.5
        with:
          shared-key: lang-python-${{runner.os}}
      - name: Run Cargo Clippy
        run: cargo clippy
      - name: Run Cargo Fmt
        run: cargo fmt --check
      - name: Run Cargo Deny
        uses: EmbarkStudios/cargo-deny-action@3f4a782664881cf5725d0ffd23969fcce89fd868 # v1.6.3
        if: ${{ matrix.os == 'ubuntu-latest' }}
      - name: Setup Python ${{matrix.python-version}}
        id: setup-python
        uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        with:
          python-version: ${{matrix.python-version}}
          cache: 'pip'
      - name: Install dependencies
        run: python -m pip install .[test,docs]
      - name: Lint with Ruff
        run: |
          python -m ruff check --output-format=github .
      - name: Lint with Ruff
        run: |
          python -m ruff format --check .
      - name: Build Rust
        uses: PyO3/maturin-action@2c5c1560848aaa364c3545136054932db5fa27b7 # v1.44.0
        with:
          sccache: 'true'
          manylinux: auto
          working-directory: bindings/python
      - name: Prepare tests
        run: |
          python -m pip install openchecks --find-links target/wheels
      - name: Run tests
        run: |
          python -m pytest --hypothesis-profile default -n=auto tests/
      - name: Run examples
        run: |
          python examples/async_auto_fix.py
          python examples/async_check.py
          python examples/auto_fix.py
          python examples/check.py
      - name: Run doc tests
        run: |
          python -m sphinx -b=doctest docs/source docs/build
