name: Python Test Suite

on:
  push:
    branches: ["main"]
    paths:
      - .github/workflows/*_python.yml
      - bindings/python/**
      - src/**
      - Cargo.lock
      - Cargo.toml
      - deny.toml
      - .gitmodules
  pull_request:
    paths:
      - .github/workflows/*_python.yml
      - bindings/python/**
      - src/**
      - Cargo.lock
      - Cargo.toml
      - deny.toml
      - .gitmodules

permissions:
  contents: read

jobs:
  test:
    name: Python test
    defaults:
      run:
        working-directory: bindings/python
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        python-version:
          - version: "3.9"
            freethreaded: false
          - version: "3.10"
            freethreaded: false
          - version: "3.11"
            freethreaded: false
          - version: "3.12"
            freethreaded: false
          - version: "3.13"
            freethreaded: false
          - version: "3.13"
            freethreaded: true
          - version: "3" # Latest version
            freethreaded: false
          - version: "3" # Latest version
            freethreaded: true
    runs-on: ${{matrix.os}}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@d0592fe69e35bc8f12e3dbaf9ad2694d976cb8e3 # stable
      - uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # v2.7.8
        with:
          shared-key: lang-python-${{runner.os}}
      - name: Run Cargo Clippy
        run: cargo clippy
      - name: Run Cargo Fmt
        run: cargo fmt --check
      - name: Run Cargo Deny
        uses: EmbarkStudios/cargo-deny-action@0484eedcba649433ebd03d9b7c9c002746bbc4b9 # v2.0.6
        if: ${{ matrix.os == 'ubuntu-latest' }}
      - name: Setup Python ${{matrix.python-version.version}} freethreaded=${{matrix.python-version.freethreaded}}
        id: setup-python
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
        with:
          python-version: ${{matrix.python-version.version}}
          freethreaded: ${{matrix.python-version.freethreaded}}
          cache: 'pip'
      - name: Install dependencies
        run: python -m pip install .[test,docs]
      - name: Lint with Ruff
        run: |
          python -m ruff check --output-format=github .
      - name: Lint with Ruff
        run: |
          python -m ruff format --check .
      - name: Build Rust
        uses: PyO3/maturin-action@49453e0a6599125b2698abe070e181399fbcc9ab # v1.47.1
        with:
          sccache: 'true'
          manylinux: auto
          working-directory: bindings/python
      - name: Prepare tests
        run: |
          python -m pip install openchecks --find-links target/wheels
      - name: Run tests
        run: |
          python -m pytest --hypothesis-profile default -n=auto tests/
      - name: Run examples
        run: |
          python examples/async_auto_fix.py
          python examples/async_check.py
          python examples/auto_fix.py
          python examples/check.py
      - name: Run doc tests
        run: |
          python -m sphinx -b=doctest docs/source docs/build
