name: Rust Test Suite

on:
  push:
    branches: ["main"]
    paths:
      - .github/workflows/*_rust.yml
      - src/**
      - tests/**
      - Cargo.lock
      - Cargo.toml
      - deny.toml
  pull_request:
    paths:
      - .github/workflows/*_rust.yml
      - src/**
      - tests/**
      - Cargo.lock
      - Cargo.toml
      - deny.toml

permissions:
  contents: read

jobs:
  test:
    name: Rust test
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    runs-on: ${{matrix.os}}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: dtolnay/rust-toolchain@4305c38b25d97ef35a8ad1f985ccf2d2242004f2 # stable
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
        with:
          shared-key: lang-rust-${{runner.os}}
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@763e3324d4fd026c9bd284c504378585777a87d5 # v2.62.57
        with:
          tool: cargo-llvm-cov
      - name: Run Cargo Clippy
        run: cargo clippy
      - name: Run Cargo Fmt
        run: cargo fmt --check
      - name: Run Cargo Deny
        uses: EmbarkStudios/cargo-deny-action@f2ba7abc2abebaf185c833c3961145a3c275caad # v2.0.13
        if: ${{ matrix.os == 'ubuntu-latest' }}
      - name: Generate coverage report from Rust tests
        run: cargo llvm-cov --all-features --lcov --output-path lcov.info
      - name: Run examples
        run: |
          cargo run --example async_auto_fix
          cargo run --example async_check
          cargo run --example auto_fix
          cargo run --example check
      - name: Run doc tests
        run: cargo test --doc
      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          files: lcov.info
          flags: lang-rust
